<!-- <p>footer works!</p> -->
<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-4 mt-3 mb-3"></div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <h5>Useful links</h5>
            <ul class="footer_ul">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="view-appointments">View Appointments</a></li>
            <li><a routerLink="place-appointment">Place Appointment</a></li>
            <li><a routerLink="contact-us">Contact Us</a></li>
            </ul>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-4 mt-3 mb-3">
            <h5>Contact</h5>
            <!--headin5_amrc-->
            <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p><i class="bi bi-geo-alt"></i> 9878/25 sec 9 rohini 35 </p>
            <p><i class="bi bi-telephone"></i>  +91-9999999999 </p>
            <p><i class="bi bi-envelope"></i> info@healthclub.com  </p>
        </div>
    </div>
    <p style="text-align: center;">@2021 Copyright</p>
</div>
